.footer {
  background-color: #1f1f1f;
  min-height: 350px;
  display: flex;
  color: white;
}
  
.footer__columns {
  width: 90%;
  margin: 60px auto 40px auto;
  display: flex;
}
  
.footer__column {
  width: 50%;
  display: flex;
}
  
.footer__column_right-side {
  justify-content: flex-end;
}
  
.content_info {
  flex-direction: column;
  justify-content: flex-end;
}
  
.footer__column-heading {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  margin: 0 0 20px 0;
}
  
.footer__column-links {
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  margin: 0 0 16px 0;
}
  
.footer__a-pic {
  margin: 0 10px 0 0;
  width: 16px;
  height: 16px;
}
  
.footer__author {
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
}