.kaufman {
  background-color: #1f1f1f;
  color: #fff;
  position: relative;
  overflow: hidden;
  z-index: -2;
}
  
.kaufman__title {
  margin: 90px auto 0 auto;
  font-size: 60px;
  line-height: 69px;
  font-weight: bold;
  text-align: center;
  width: 60%;
  z-index: 2;
}
  
.kaufman__subtitle {
  margin: 20px auto 0 auto;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  text-align: center;
  width: 60%;
  z-index: 2;
}
  
.kaufman__triangle {
  height: 877px;
  width: 877px;
  position: absolute;
  right: -210px;
  top: 0;
  z-index: -1;
}
  
.kaufman__table {
  margin-bottom: 90px;
}